<p-menubar [model]="items" styleClass="p-menubar">
  <ng-template pTemplate="end">
    <p-dropdown
      [options]="suportedLangsArray"
      (onChange)="langChange($event)"
      placeholder="{{ CurrentLang }}"
    ></p-dropdown>
  </ng-template>
</p-menubar>
<app-breadcrumb></app-breadcrumb>

<p-button
  label="{{ 'BACK' | translate }}"
  icon="pi pi-arrow-circle-left"
  iconPos="left"
  styleClass="p-button-rounded p-button-outlined p-button-raised"
  (onClick)="navigation.goBack()"
></p-button>
